import * as S from './styles'

const {{pascalCase name}}View = () => {
  return (
    <>
      <S.Wrapper>
        <h1>Desktop</h1>
      </S.Wrapper>
    </>
  )
}

export default {{pascalCase name}}View
